@if(isAddingTasks) {
    <p>
        <app-new-tasks (cancel)="onCancelAddTasks()" (add)="onAddTask($event)"/>
    </p>
}

<section id="tasks">
    <header>
        <h2>{{ name }}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTasks()">Add Tasks</button>
        </menu>
    </header>

    <ul>
        @for(tasks of selectedUserTasks; track tasks.id){
        <li>
            <app-task (complete)="onComplete($event)" [tasks]="tasks" />
        </li>
        }
       
    </ul>
</section>

